.centerhead {
    text-align: center;
    border: 5px solid blue;
}

.center {
    text-align: center;
    font-size: 30px;
    font-style: italic;
}

.my_centered_buttons {
    display: flex;
    justify-content: center;
}
.btn-space {
    margin-right: 5px;
}